@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1e1e;
  --primary-text: #ddd;
  --secondary-text: #adadad;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.nav-item {
  @apply px-4 py-1.5 rounded-full text-[--secondary-text] text-sm font-semibold;
}

.text-balance {
  text-wrap: balance;
}

#hero p {
  color: var(--secondary-text);
}

#hero h1 {
  font-size: 13rem;
  font-weight: 700;
}
