@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111;
  --primary-text: #ddd;
  --secondary-text: #adadad;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

.text-balance {
  text-wrap: balance;
}

#hero-icons a {
  @apply border rounded-full border-[#ddd] p-4 hover:border-cyan-500 hover:scale-[1.1] transition-colors ease-in-out;
}
#hero-icons svg {
  @apply w-7 h-7 md:w-12 md:h-12 lg:w-8 lg:h-8;
}

.nav-item {
  @apply px-4 py-1.5 rounded-full text-[--secondary-text] text-lg font-semibold;
}

/* #projects {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

#projects div:nth-child(1) {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
}
#projects div:nth-child(2) {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
}
#projects div:nth-child(3) {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
}
#projects div:nth-child(4) {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
}
#projects div:nth-child(5) {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
} */

.project-img {
  @apply w-full h-full object-cover object-center grayscale transition duration-500 hover:grayscale-0 cursor-pointer rounded-xl;
}

/* Wave animation */
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
