@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #101010;
  --primary-text: #f2f2f2;
  --secondary-text: #a0a0a0;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-[--secondary-text] text-sm font-semibold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
